@import 'tailwindcss';

.shape {
  height: 0;
  width: 0;
  border-bottom: 30px solid rgb(21, 20, 63);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.backr {
  width: 100%;
  background-size: cover !important;
  -webkit-animation: slidein 100s;
  animation: slidein 100s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes slidein {
  from {
    background-position: top;
    background-size: 1000px;
  }

  to {
    background-position: -100px 0px;
    background-size: 750px;
  }
}

@keyframes slidein {
  from {
    background-position: top;
    background-size: 1000px;
  }

  to {
    background-position: -100px 0px;
    background-size: 1350px;
  }
}
.animation {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

/* Hack Safari iOS */
@supports (-webkit-touch-callout: none) {
  .ios-fix {
    min-height: 100dvh;
    /* corrige le bug 100vh */
    overflow: visible !important;
    /* évite le clipping */
  }
}